@{
    Page.Title = "Blog";

    var db = @Database.Open("BlogConnection");
    var Posts = db.Query("SELECT * FROM Posts ORDER BY ID DESC");
}
<h1 class="page-header">
     Post list
    <a href="@Href("~/Create.cshtml")" class="btn btn-primary pull-right">Create new post</a>
</h1>
@{
    foreach(var Post in Posts)
    {
        <article>
            <h1 class="page-header"><a href="@Href("~/Details.cshtml")/@Post.Id">@Post.Title</a></h1>
            <p>@Post.Text</p>
        </article>     
                      
        <hr>        
    }
}


<!-- Sidebar -->

@section Sidebar {
    <h3>Recent posts</h3>

    <ul class="list-group">
        @{
            foreach(var Post in Posts)
            {
               <li class="list-group-item"><a href="#">@Post.Title</a></li>
            }
        }
    </ul>
}